:root{
    --primary-color: #d3d3d3;
    --secondary-color: #f7f7f7;
    --third-color: #868686;
    --text-color: black;
    --hover-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 15px;
    font-family: Poppins, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 30px;
    width: 100%;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--primary-color);
    position: sticky;
    z-index: 1000;
}

nav a, footer a {
    font-weight: bold;
    font-size: 1.2em;

    color: var(--primary-color);
    text-decoration: none;

    transition: 0.3s ease-in-out;
}

nav a {
    margin: 15px 15px;
    border-radius: 10px;
}

nav a.active, nav a:hover, footer a:hover {
    color: var(--hover-color);
}

nav a i {
    margin: 5px 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
    gap: 10px;
    padding: 20px 20px;
    font-weight: bold;

    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-top: solid 2px var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    flex-grow: 1;
    width: 100%;
    padding: 5rem 2rem;
    background-image: linear-gradient(135deg, var(--primary-color), var(--secondary-color), var(--third-color));
    color: var(--text-color);
    text-align: center;
}

main h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 2px; 
}

main h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

main p {
    font-size: 1.2em;
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.6;
    color: var(--text-color);
}

main a {
    margin-top: 1.5rem;
    padding: 15px 30px;
    background-color: var(--hover-color);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 50px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

main a:hover {
    background-color: var(--primary-color);
    color: var(--hover-color);
    transform: scale(1.05); 
}

.auth, .account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--secondary-color);
    padding: 70px 50px;
    border: var(--primary-color) solid 2px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 10px;
}

form input[type=text], form input[type=password], form textarea {
    padding: 10px 20px;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    font-size: 1.2em;
}

form textarea {
    max-width: 100%;
    height: 300px;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1.1em;
    box-sizing: border-box;
}

form input[type=submit], form button, .account-actions button, .notes button {
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 1.2em;
    background-color: var(--primary-color);
    color: var(--hover-color);
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form input[type=submit]:hover, form button:hover, .account-actions button:hover, .notes button:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

.auth p {
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 10px;
}

.auth a {
    font-size: 1em;
    font-weight: bold;
    width: 50%;
    scale: 0.75;
    margin: 0 auto;
}

.account p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto;
}
.account p i {
    margin-left: 5px;
}

.account-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 15px;
}

.account-details p {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.clickable-icon {
    font-size: 1em;
    color: var(--hover-color);
    transition: transform 0.3s ease;}

.clickable-icon:hover {
    color: var(--primary-color);
    transform: scale(1.05);
}

.modal-controls, .account-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.account-actions button i {
    margin-right: 5px;
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 600px; 
    max-height: 65vh; 
    margin: 20px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    overflow-x: hidden;
}

.notes h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.notes button {
    background-color: var(--primary-color);
    color: var(--hover-color);
    font-size: 1.3em; 
    border-radius: 50px; 
    padding: 12px 20px; 
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}

.notes button i {
    margin-right: 10px;
    font-size: 1.5em; 
}

.notes button p {
    margin: 0;
    font-size: 1em; 
    color: inherit; 
}

.notes button:hover {
    background-color: var(--hover-color); 
    color: var(--primary-color); 
    transform: scale(1.03); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

.note {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.note h3 {
    font-size: 1.4em; 
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--hover-color);
    word-break: break-word;
}

.note-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.note-actions i {
    font-size: 1.2em; 
    color: var(--hover-color);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.note-actions i:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

.note hr {
    border: 0;
    height: 1px;
    background: var(--third-color);
    margin: 10px 0;
    width: 100%;
}

.note p {
    font-size: 1em; 
    color: var(--text-color);
    margin-top: 10px;
}


dialog {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--secondary-color);
    padding: 40px 30px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 90%;
    z-index: 1000; 
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

@media(max-width: 1500px) {
    nav {
        gap: 20px;
    }

    nav a {
        margin: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 1000px) {
    nav {
        gap: 10px;
    }

    nav a {
        padding: 5px 5px;
    }

    nav a span {
        display: none;
    }
}

/* Alert Styles */

#alert-container {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.alert {
    cursor: pointer;
    background-color: var(--secondary-color);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #333;
    opacity: 0.9;
    text-align: center;
}

.alert-success {
    background-color: #55aa57;
    color: var(--secondary-color) ;
}

.alert-error {
    background-color: #a94442;
    color: var(--secondary-color);
}

.alert .close-btn {
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
}

