{% extends 'base.html' %}

{% block content %}
<div class="account-container">
    <h2>User Account</h2>
    <div class="account-icon">
        <i class="fas fa-user"></i>
    </div>
    <div class="account-details">
        <p><strong>Username:</strong> {{ current_user.name }}</p>
        <p><strong>Email:</strong> {{ current_user.email }}</p>
        <p><strong>Registration Date:</strong> {{ current_user.register_date.strftime('%d-%m-%Y') }}</p>
        <p><strong>Total Notes:</strong> {{ total_notes }}</p>
        {% if current_user.account_type == 'admin' %}
            <p><strong>Account Type:</strong> Admin</p>
        {% endif %}
        <div class="account-actions">
                <button type="button" class="btn" id="open-change-password-window"> 
                    <i class="fas fa-key"></i> Change Password
                </button>
                <button type="button" class="btn" id="open-delete-window">
                    <i class="fas fa-trash"></i> Delete
                </button>
        </div>
    </div>

    <dialog class="dialogue-window" id="change-password-window">
        <h2>Change Password</h2>
        <form action=" {{ url_for('auth.change_password') }}" method="POST" id="change-password-form">
            <label for="password">Current Password</label>
        <input type="password" id="current-password" name="current-password">
            <label for="new-password">New Password</label>
        <input type="password" id="new-password" name="new-password">
        <button type="submit" class="btn" id="confirm-password">Confirm</button>
        <button type="button" class="btn" id="cancel-password">Cancel</button>
        </form>
    </dialog>

    <dialog class="dialogue-window" id="delete-window">
        <h2>Are you sure you want to delete your account?</h2>
        <form action=" {{ url_for('auth.delete_account') }}" method="POST" id="confirm-delete-form">
            <label for="password">Enter your password to confirm:</label>
        <input type="password" id="delete-password" name="password">
        <button type="submit" class="btn" id="confirm-delete">Confirm</button>
        <button type="button" class="btn" id="cancel-delete">Cancel</button>
        </form>
    </dialog>


</div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/change-password.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/delete-account.js') }}"></script>
{% endblock %}