{% extends 'base.html' %}

{% block content %}
<div class="layout">
    <aside class="sidebar">
        <nav>
            <ul>
                <li>
                    <a href="/profile">
                        <i class="fas fa-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/notes">
                        <i class="fas fa-sticky-note"></i>
                        <span>Notes</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        {% block page_content %}
        {% endblock %}
    </main>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock %}
