{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Login</h2>
    <form id="login-form" action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <button type="submit">Log In</button>
    </form>

    <p>Don't have an account? <a href="/sign-up">Sign up</a></p>
</div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
