{% extends 'base.html' %}

{% block content %}
<div class="notes">
    <h2>Notes</h2>
    <button type="button" class="btn" id="add-note">
        <i class="fa fa-plus"></i>
        <p>Add Note</p>
    </button>

    {% for note in notes %}
    <div class="note" data-id="{{ note.id }}">
        <div class="note-actions">
            <i class="fa fa-book note-view" title="View Note"></i>
            <i class="fa fa-edit" title="Edit Note"></i>
            <i class="fa fa-trash" title="Delete Note"></i>
        </div>
        <h3>{{ note.title }}</h3>
        <hr>
            <p>{{ note.date.strftime('%d-%m-%Y') }}</p>
    </div>
    {% endfor %}
</div>

<dialog id="add-note-modal">
    <form id="add-note-form" action="{{ url_for('views.add_note') }}" method='POST'>
        <h2>Add Note</h2>
        <input type="text" id="note-title" name="title" placeholder="Title">
        <textarea id="note-content" name="content" placeholder="Content"></textarea>
        <div class="modal-controls">
            <input type="submit" value="Add">
            <button type="button" id="cancel-add-note">Cancel</button>
        </div>
    </form>
</dialog>

<dialog id="view-note-modal">
    <form id="view-note-form">
        <h2>View Note</h2>
        <input type="text" id="view-note-title" name="title" readonly>
        <textarea id="view-note-content" name="content" readonly></textarea>
        <p id="view-note-date"></p>
        <div class="modal-controls">
            <button type="button" id="close-view-note">Close</button>
        </div>
    </form>
</dialog>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/notes.js') }}"></script>
{% endblock %}
